* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #E9F1F7;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

main {
  background-image: url("../img/bg.png");
  background-size: 250vh;
  background-attachment: fixed;
}

body.webp {
  background-image: url("../img/bg.webp");
}

body.no-scroll {
  overflow: hidden;
}

[data-string] {
  transition: opacity 0.3s;
}

[data-string].fadeOut {
  opacity: 0;
}

a {
  color: inherit;
}

div[data-active] {
  position: relative;
}

div[data-active]:after {
  content: "";
  position: absolute;
  width: 75%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  opacity: 0;
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}

div[data-active="true"]:after {
  bottom: 6px;
  opacity: 1;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
}

div.hor-vert-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

i[class*="icon-"] {
  margin-right: 4px;
}

i.arrow-down {
  border: solid #E9F1F7;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 3px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

a {
  transition: color 0.2s;
  text-decoration: none;
}

header>div:hover,
header>div:focus,
header>div:focus-within,
footer a:hover,
footer a:focus {
  color: #b9bfc4
}

header>div[data-active="true"] {
  color: inherit;
}

.text-center {
  text-align: center;
}

.dropdown:hover i.arrow-down,
.dropdown:focus i.arrow-down {
  border-color: #b9bfc4
}

.dropdown {
  position: relative;
  padding-bottom: 0;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 160px;
  padding-top: 8px;
  z-index: 1;
  width: auto;
  color: #E9F1F7;
}

.dropdown-content label {
  display: block;
  cursor: pointer;
  background-color: #222;
  transition: background-color 0.2s;
  padding: 12px;
  padding-left: 30px;
  text-align: left;
  pointer-events: none;
}

.dropdown-content label:hover,
.dropdown-content label:focus {
  background-color: #111;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content label {
  pointer-events: auto;
}

@media (hover: none) {

  /* Prevent mobile users from opening the dropdown and activating the first option on the same tap*/
  .dropdown {
    height: 0;
  }

  .dropdown-content {
    padding-top: 20px;
  }
}

input[type=radio] {
  display: none;
}

label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 8.5px;
  position: absolute;
  margin-left: 8px;
  left: 0;
  background-color: #fff;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .7), 0px 0px 2px rgba(255, 255, 255, .8);
}

input[type=radio]:checked+label:before {
  content: "•";
  color: #444;
  font-size: 29px;
  text-align: center;
  line-height: 15px;
}

button.primary {
  padding: 12px;
  background-color: #E9F1F7;
  border: none;
  border-radius: 8px;
  font-family: 'Tomorrow', sans-serif;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.3s;
}

button.primary:hover,
button.primary:focus,
.proj-det-exit:hover,
.proj-det-exit:focus {
  background-color: #c0c7cc;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  font-family: 'Tomorrow', sans-serif;
  flex-wrap: wrap;
}

header>div {
  padding: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: color 0.2s;
  -webkit-tap-highlight-color: transparent;
}

header a {
  transition: color 0.2s;
}

section {
  flex: 1;
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
  position: relative;
}

.visible {
  display: block;
}

section.visible.hor-vert-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.fade {
  opacity: 1 !important;
}

section#home {
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

section#home button,
.project-container {
  box-shadow: 0 0 12px black;
}

section#home .container div:first-child {
  border-bottom: 1px solid white;
}

section#home h1 {
  font-size: 54px;
  letter-spacing: 2px;
}

section#home h2 {
  font-size: 34px;
}

section#home button {
  margin: 16px;
  width: 280px;
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 16px;
  flex-basis: 300px;
}

.project-container {
  width: 320px;
  margin: 16px;
  border: 2px solid #E9F1F7;
  border-radius: 24px;
  text-align: center;
  background-color: #084610;
  transition: transform 0.25s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container:hover,
.project-container:focus {
  transform: scale(1.1, 1.1);
}

.project-container img {
  width: 240px;
}

.project-container h3,
.project-container p {
  margin: 12px 4px;
  line-height: 24px;
}

.project-shortdescription {
  flex-grow: 1;
}

.icons i {
  font-size: 24px;
}

.project-details {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000A;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-details.visible {
  visibility: visible;
}

.project-details-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: 25px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  border: 2px solid #E9F1F7;
  border-radius: 24px;
  background-color: #084610;
  overflow: hidden;
}

.project-details-container h1 {
  margin: 0.4em 0;
}

.project-details img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.proj-det-exit {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 0 0 0 24px;
  background-color: #E9F1F7;
  font-family: 'Tomorrow', sans-serif;
  font-size: 24px;
  cursor: pointer;
  transition: font-size 0.2s;
  z-index: 1;
}

.proj-det-exit:hover,
.proj-det-exit:focus {
  font-size: 32px;
}

.proj-det-desc {
  overflow-y: auto;
  padding: 0 16px;
  line-height: 24px;
  margin-top: 16px;
}

.proj-det-desc p:first-child {
  margin-top: 0;
}

.proj-det-desc a {
  color: #00bcff;
}

.proj-det-desc a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Tomorrow', sans-serif;
}

footer a {
  color: #E9F1F7;
  padding: 0 4px;
}

.fade-on-load {
  animation: fadeIn 1s ease;
}

.proj-det-btns {
  text-align: center;
}

.proj-det-btns button {
  margin: 0 16px;
}

.col-container {
  overflow-y: auto;
}

.col-sm,
.col-lg {
  width: 100%;
}

.col-lg {
  overflow-y: auto;
  padding: 16px 0;
}

.col-lg h1 {
  display: none;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .project-details img {
    width: 50%;
  }

  .dropdown-content {
    left: initial;
    transform: none;
  }
}

@media only screen and (min-width: 768px) {
  section#home .container {
    display: flex;
    align-items: center;
  }

  section#home .container div {
    flex-basis: 50%;
  }

  section#home .container div:first-child {
    border-bottom: none;
    border-right: 1px solid white;
  }

  .container {
    max-width: 724px;
  }

  .project-details-container {
    top: 50px;
    left: 50px;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .project-details-container {
    top: 75px;
    left: 75px;
    height: calc(100% - 150px);
    width: calc(100% - 150px);
  }

  .col-sm {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 45%;
  }

  .col-lg {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .project-details-container>h1 {
    display: none;
  }

  .col-lg h1 {
    display: block;
  }

  .project-details picture {
    max-height: 95%;
    overflow: hidden;
  }

  .project-details img {
    max-height: 90%;
    width: 100%;
    padding: 0 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d8e0e6;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0c7cc;
}

::-webkit-scrollbar-thumb:active {
  background: #787c80;
}

::-webkit-scrollbar-track {
  background: #073300;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d8e0e6 #073300;
}